# Environment variables example file
# *Copy the contents of this file to a ".env" file and fill in the values before running the application
DATABASE_URL="mongodb+srv://root:randompassword@cluster0.ab1cd.mongodb.net/mydb?retryWrites=true&w=majority"
